.forgotPasswordCard {
  max-width: 400px;
  margin: auto;
  margin-top: 64px;
  padding: 24px;
}

.forgotPasswordForm {
  display: flex;
  flex-direction: column;
}

.linkContainer {
  margin-top: 16px;
}
