// styles.scss

.createListingContainer {
  max-width: 800px;
  margin: auto;
  margin-top: 64px;
  padding: 24px;

  .MuiCard-root {
    border: 1px solid #ccc;
    margin-bottom: 16px;
  }

  .MuiTypography-h5 {
    margin-bottom: 16px;
  }

  .inputField {
    margin-bottom: 16px;
  }

  .submitButton {
    margin-top: 16px;
  }

  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
  }
}
